.hero-section {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, 0%, #2583e8 35%, #5F6A72 100%);
    color: #3c3c3c;
    height: auto;
    text-align: center;
    /* max-width: 1800px; */
}

h1 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #2583e8;
}

.subtitle-h3 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;

}

.subtitle-h3-blue {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2583e8;

}

.about-content-h3 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    /* text-align: center; */
    color: #2583e8;
}

.hero-content {
    margin-top: 50px;
    font-family: "Lato",sans-serif;
    flex: 1;
    margin-right: 4rem;
    padding-bottom:120px;

    }
    
.content-blue{
    font-weight: 600;
    color: #2583e8;
}
.hero-image {
    flex: 1;
    margin-bottom: 9rem;
  

}

.hero-image img {
    max-width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3s ease;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.hero-image:hover{
    transform: scale(1.05);
}

p {
    font-size: 16px;
    line-height:2;
    margin-bottom: 30px;
}

.button {
    margin-top: 20px;
    background-color: #00c698;
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: #2583e8;
    /* Green text */
    border: 2px solid #2583e8;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #2583e8;
    /* Green background on hover */
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        /* Stack content on smaller screens */
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 14px;
    }
}