.hero-section {
    /* margin-top: 50px; */
    font-family: "Lato", Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    /* padding: 2px 50px; */
    background: linear-gradient(90deg, 0%, #2583e8 35%, #5F6A72 100%);
    /* Dark blue background */
    color: #3c3c3c;
    height: auto;
    text-align: center;
    /* border-bottom: 1px solid black; */
    /* Adjust as needed */
}

h1 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #2583e8;

}


.subtitle-h3 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    /* text-align: left; */
    text-align: center;
    /* color: #2583e8; */

}

.subtitle-h3-blue {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    /* text-align: left; */
    /* text-align: center; */
    color: #2583e8;
    padding-bottom: 26px;

}


p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 30px;
}

.hero-content {
    margin-top: 50px;
    font-family: "Lato",
        sans-serif;
    flex: 1;
    margin-right: 4rem;
    padding-bottom: 120px;
}

.content-blue {
    font-weight: 600;
    color: #2583e8;
}

.hero-image {
    flex: 1;
    margin-bottom: 9rem;

}

.hero-image img {
    max-width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3s ease;
}

.hero-image img:hover {
    transition: 0.3s;
    transform: scale(1.1);

}

.button {
    margin-top: 20px;
    background-color: #00c698;
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: #2583e8;
    /* Green text */
    border: 2px solid #2583e8;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #2583e8;
    /* Green background on hover */
    color: white;
}


/* Responsive Design */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        /* Stack content on smaller screens */
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 14px;
    }
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 12px);
    /* Adjust for padding and border */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

.required::after {
    content: " *";
    color: #ea5f5f;
}

.button-container{
    display: flex;
        justify-content: center;
        align-items: center;
    
}

button[type="submit"] {
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 40px;
    text-decoration: none;
    border-radius: 6px 6px 30px 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}