

.hero-section {
        display: flex;
            max-width: 1600px;
            align-items: center;
            justify-content: space-between;

                    margin-left: auto;
                        margin-right: auto;
                        padding-left: 1.875rem;
                        padding-right: 1.875rem;
    margin-top: 2rem;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    padding: 2px 50px;

}

.hero-content {
    font-family: "Lato", sans-serif;
    flex: 1;
    padding-bottom:120px;

}

.hero-image {
    flex: 1;

    
}

.hero-image img {
    max-width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3s ease;
}

.hero-image img:hover {
    transition: 0.3s;
    transform: scale(1.1);
    
}


h1 {
    font-family: "Gemunu Libre", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
    
}

.gradient-line {
    height: 5px;
        background: linear-gradient(to right, #2583e8, white);
    width:70%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.gradient-line-labs {
    height: 5px;
    background: linear-gradient(to right, #2583e8, white);
    border-radius: 5px;
    margin-bottom: 20px;
    width:  70%;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-right: 5rem;
}

.button {
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: #2583e8;
    border: 2px solid #2583e8;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: #2583e8;
    /* Green background on hover */
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        /* Stack content on smaller screens */
        text-align: center;
        padding: 20px;
        height: auto;
    }

    .hero-content {
        padding-right: 0;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 14px;
    }
}


/* .