.home_3 {
    display: flex;
        max-width: 1600px;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        font-family: "Lato", sans-serif;
        padding: 2px 50px;
}

.text-content {
    font-family: "Lato", sans-serif;
        flex: 1;
    max-width: 50%;
    color: #666;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.divider {
    width: 100%;
    max-width: 200px;
    border: 0.5px solid #ccc;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-button-home-3 {
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: #2583e8;
    /* Green text */
    border: 2px solid #2583e8;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button-home-3 a{
        color: #2583e8;
        text-decoration: none;
}




.image-container {
    flex: 1;
    max-width: 60%;
    display: flex;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3 ease;
        align-items: center;
            justify-content: center;
            padding-left: 1.5rem;
}

.home-3 .image-container img {
    width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3 ease;


}

.home-3 .image-container img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}





/* 
HERO SECTION  FOR HEX*/
/* body {
    margin: 0;
    font-family: 'Barlow', 'Helvetica Neue', sans-serif;
    background-color: #ffffff;
    color: #909090;
} */


.hero-section-hex {
    padding: 60px 20px;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        /* background-color: #EDECEB; */
        background-color: rgba(0, 0, 0, 0.3); 
        background-image: url('../assets/omm (5).png');
        background-size: cover;
        /* background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
}

.container-hex {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.hero-content-hex {
    display: flex;
    /* flex: 1 1 500px; */
    padding: 20px;
}

.hero-content-hex h1 {
    font-size: 6rem;
    margin: 0;
    color: #2583E8;
    line-height: 1.1;
}

.hero-content-hex h2 {
    font-size: 1.5rem;
    color:#666;
    margin: 20px 0;
}

.hero-paragraph p {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #666;
}

.hero-images {
    flex: 1 1 500px;
    height: 300px;
    width: 80%;
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    /* padding: 20px; */
}

.spacemask {
    width: 800px;
    height: 400px;
    position: relative;
    clip-path: polygon(3.7% 17.5%, 27.0% 0.1%, 44.2% 28.4%, 42.3% 29.1%, 35.5% 69.5%,
            40.4% 81.2%, 40.9% 80.7%, 36.0% 69.2%, 42.7% 29.6%, 44.6% 28.9%,
            45.9% 31.1%, 42.1% 79.7%, 40.9% 80.7%, 41.4% 81.4%, 42.5% 80.4%,
            46.4% 30.8%, 45.1% 28.8%, 56.9% 24.6%, 53.5% 66.8%, 68.8% 92.3%,
            69.4% 91.8%, 53.9% 66.5%, 57.3% 24.3%, 62.8% 22.7%, 76.0% 53.6%,
            69.4% 91.8%, 69.7% 92.2%, 76.5% 53.5%, 62.9% 21.6%, 57.3% 23.5%,
            57.7% 17.4%, 80.6% 0.0%, 100.0% 31.0%, 96.3% 80.2%, 73.5% 98.4%,
            69.7% 92.2%, 69.4% 91.8%, 68.8% 92.3%, 49.4% 100.0%, 41.4% 81.4%,
            40.9% 80.7%, 40.4% 81.2%, 19.3% 97.1%, 0.0% 66.7%);
    background-color: #EDECEB;
    border: 3px solid #2583e8;
    z-index: 0;
}


.spacemask img {
    width: 960px;
    height: 640px;
    margin-left: -20px;
    margin-top: -120px;
    transition: 2s ease;
    z-index: 0;
    position: relative;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .hero-content-hex h1 {
        font-size: 3rem;
    }
}