.home_3 {
    display: flex;
        max-width: 1600px;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        font-family: "Lato", sans-serif;
        padding: 2px 50px;
}

.text-content {
    font-family: "Lato", sans-serif;
        flex: 1;
    max-width: 50%;
    color: #666;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.divider {
    width: 100%;
    max-width: 200px;
    border: 0.5px solid #ccc;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.cta-button-home-3 {
    display: inline-block;
    padding: 10px 25px;
    background-color: transparent;
    color: #2583e8;
    /* Green text */
    border: 2px solid #2583e8;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button-home-3 a{
        color: #2583e8;
        text-decoration: none;
}




.image-container {
    flex: 1;
    max-width: 60%;
    display: flex;
}

.image-container img {
    width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3 ease;
        align-items: center;
            justify-content: center;
            padding-left: 1.5rem;
}

.home-3 .image-container img {
    width: 80%;
    height: auto;
    border-radius: 50px;
    transition: 0.3 ease;


}

.home-3 .image-container img:hover{
    transition: 0.3s;
    transform: scale(1.1);
}