

.td-h1 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 4rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: white;

}

.subtitle-h3 {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: white;

}

.subtitle-h3-blue {
    font-family: "Gemunu Libre", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* font-style: normal; */
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: bold;
    /* text-align: left; */
    /* text-align: center; */
    color: #2583e8;

}




/* Responsive Design */
@media (max-width: 768px) {

}






.td-headers{

    /* background: linear-gradient(135deg, #d2d2d4, #2583e8); */
    /* background: linear-gradient(#d2d2d4, #2583e8); */
    padding-top: 10px;
    background: linear-gradient(white 10%, 
    #5094cf 15%,#2583e8 90%);
    /* background: linear-gradient(white 5%,
                #5094cf 15%, #2583e8 90%, #e5e4e2, white); */
} 

.td-main-content{
    text-align: center;
    padding: 40px 20px;
    /* max-width: 1600px; */
    margin: auto;
    color: white;
    padding-bottom: 5rem;
    
}

.therapeutic-grid {
    text-align: center;
    padding: 40px 80px;
    /* max-width: 1600px; */
    /* margin: auto; */
    background-color: #2583e8;
}

.description {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
    color: white;
}

.grid-container {
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.grid-item {
    border: 2px, solid, rgb(253, 253, 255);
    border-radius: 10px;
    padding: 40px 10px 5px 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.grid-item img {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.grid-item p {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.grid-item:hover {
    transform: scale(1.05);
    border: 4px, solid, #e5e4e2;
}


.attribution a{
    font-size: 2px;
    color: white;
}



.grid-container a {
    text-decoration: none !important;
}

.grid-item p {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-decoration: none !important;
    color: white;
}

.grid-item {
    text-decoration: none !important;
}

.grid-item a {
    text-decoration: none !important;
    color: inherit;
}

.td-pre-footer{
    background: linear-gradient( #2583e8,#5094cf 30%, #e5e4e2 60%, white);
    height: 8rem;
}